nav {

	position:fixed;
	top:0;
	left:0;
	width:80px;
	height:100%;
	background:#024959;

	ul {

		list-style:none;
		margin-left:-40px;

		li {
			.nav__btn {
				display: block;
				width: 80px;
				height: 80px;
				background: rgb(3, 126, 140) none repeat scroll 0% 0%;
				color: white;
				font-size: 3em;
				text-align: center;
				line-height: 2.1em;

				&:hover {
					background: #F24C27;
				}

			}
		}
	}
}

