<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<script type="text/javascript" src="{{ asset('dist/scripts/bundle.js') }}" ></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('dist/styles/app.css') }}"> 
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
