{% extends 'default/dashboard.html.twig' %}

{% block dashboard_content %}

<div class="row">
    <div class="form-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% if app.request.attributes.get('_route') == 'dashboard_travel_add' or app.request.attributes.get('_route') == 'dashboard_travel_edit' %}
            {% form_theme form 'default/bootstrap_3_layout.html.twig' %}
            {% include 'embed/form/travel-form.html.twig' %}
        {% endif %}
        {% if app.request.attributes.get('_route') == 'dashboard_travel' %}
            <ul class="list-group">
                {% for item in liste %}
                <li class="list-group-item">
                    {{item.name}}
                    <a class="action" href="{{path('dashboard_travel_edit', {id: item.id})}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="action" href="{{path('dashboard_travel_delete', {id: item.id})}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}


