{% extends 'default/dashboard.html.twig' %}

{% block dashboard_content %}

<div class="row">
    <div class="form-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% if app.request.attributes.get('_route') == 'dashboard_travel_add' %}
            {% form_theme form 'default/bootstrap_3_layout.html.twig' %}
            {% include 'embed/form/travel-form.html.twig' %}
        {% endif %}
        {% if app.request.attributes.get('_route') == 'dashboard_travel' %}
            {{dump(liste)}}
        {% endif %}
    </div>
</div>

{% endblock %}


