{% extends 'default/dashboard.html.twig' %}

{% block dashboard_content %}
<div class="row">
    <div class="form-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {{form(form)}}
    </div>
</div>

{% endblock %}


